
/*
#########################
 #UTILIDADES
#########################
*/
.rf-glyphicon-large{
	font-size: 18px;
}

/*
#########################
 #COMPONENTES
#########################
*/

/*FIELD ACTION*/

.rf-field-action{
	display:flex;
	
}

.rf-field-action-icon{
	margin: 6px 0 0 5px;
}

/*
#########################
 #LAYOUT
#########################
*/


.inamax-layout-footer{
	margin-top: 90%;
	
}


.page-title{
	text-align: center;
	margin-left: 40px;
}

.logo-title{
	color:red;
}